
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectShow2</title>
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
</head>



<body>
  
    <input type="hidden" id="co" value="@ViewBag.c" />

    <div id="div1">

        <table width="100%">

            <tr>
                <td>
                    <font color="black">您正在做的业务是:人力资源管理--薪酬标准管理--薪酬标准登记复核</font>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td width="18%" class="TD_STYLE1">
                    <span>薪酬标准编号</span>
                </td>
                <td width="19%" class="TD_STYLE1">
                    <span>薪酬标准名称</span>
                </td>
                <td width="16%" class="TD_STYLE1">
                    <span>制定人</span>
                </td>
                <td width="30%" class="TD_STYLE1">
                    <span>登记时间</span>
                </td>
                <td width="13%" class="TD_STYLE1">
                    薪酬总额
                </td>
               @if (Session["bb"] != null)
               {
                <td width="13%" class="TD_STYLE1">
                    变更
                </td>
               }
            </tr>


            <tr class="TD_STYLE2" v-for="item in list">
                <td id="PostNameVal">
                    {{item.Ctid}}

                </td>
                <td>
                    {{item.CtName}}

                </td>
                <td>
                    {{item.CtMan}}

                </td>
                <td>
                    {{item.CtregistDate}}

                </td>
                <td>
                    &nbsp;
                    {{item.CtMoney}}

                </td>
               <td>
                   @if (Session["bb"] != null)
                   {
                    <a v-bind:href="['/CompensationTandards/Update2/?id='+item.Ctid]">变更</a>
                   }

               </td>
            </tr>




        </table>


        <html>
        <head>
        </head>
        <body>
            
</div>
<p>
    <div id="leftPage"></div>
    @*&nbsp;&nbsp;总数：2 例 &nbsp;&nbsp;&nbsp;当前第1 页 /每页显示 10 条 &nbsp;&nbsp;&nbsp;共 1 页 &nbsp;&nbsp;&nbsp;*@
    <a href="#" class="prev">上一页</a> &nbsp;&nbsp;&nbsp;
    <a href="#" class="next">下一页</a> &nbsp;&nbsp;&nbsp;跳到第 <input name=page type=text class=input1 id="txtSize" size=1> 页&nbsp;&nbsp;<img id="imgSize" src="~/hr/images/go.bmp" width=18 height=18 border=0>

    }
    <script type="text/javascript">
        var currentPage = 1;
        var pageSize = 3;
        var pages;
        var vm = new Vue({
            el: "#div1",
            data: {
                list: null,
                rows: null
            },
            methods: {
                load: function () {
                    var t = this;
                    $.ajax({
                        url: "/CompensationTandards/SelectShow3",
                        type: "post",
                        data: "currentPage=" + currentPage + "&pageSize=" + pageSize + "&id=" + $("#PostNameVal").val(),
                        success: function (msg) {
                            var res = eval("(" + msg + ")");
                            t.list = res["list"];
                            t.rows = res["rows"];
                            pages = (t.rows + pageSize - 1) / pageSize;
                            $("#leftPage").text("共有" + t.rows + "条记录，当前第" + currentPage+"页")
                        }
                    })
                }
            },
            created: function () {
                this.load();
            }
        })

        $(function () {
            $(".prev").click(function () {
                if (currentPage > 1) {
                    currentPage--;
                } else {
                    currentPage = 1;
                }
                vm.load();
            });
            $(".next").click(function () {
                if (currentPage < pages) {
                    currentPage++;
                } else {
                    currentPage = pages;
                }
                vm.load();
            });
            $("#imgSize").click(function () {
                currentPage = $("#txtSize").val();
                vm.load();
            })
        })
    </script>

</body>
