<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <!--IBLL->BLL -->
      <container name="containerTwo">
        <register type="IBLL.IUsersBLL,IBLL" mapTo="BLL.UsersBLL,BLL" name="UsersBLL"></register>
        <register type="IBLL.IAttributeTypeBLL,IBLL" mapTo="BLL.AttributeTypeBLL,BLL" name="AttributeTypeBLL"></register>
        <register type="IBLL.ISalarySettingBLL,IBLL" mapTo="BLL.SalarySettingBLL,BLL" name="SalarySettingBLL"></register>
        <register type="IBLL.IOneorganBLL,IBLL" mapTo="BLL.OneorganBLL,BLL" name="OneorganBLL"></register>
        <register type="IBLL.IPostBLL,IBLL" mapTo="BLL.PostBLL,BLL" name="PostBLL"></register>
        <register type="IBLL.IPostClassifyBLL,IBLL" mapTo="BLL.PostClassifyBLL,BLL" name="PostClassifyBLL"></register>
        <register type="IBLL.ITwoorganBLL,IBLL" mapTo="BLL.TwoorganBLL,BLL" name="TwoorganBLL"></register>
        <register type="IBLL.ITreeorganBLL,IBLL" mapTo="BLL.TreeorganBLL,BLL" name="TreeorganBLL"></register>
        <register type="IBLL.ICompensationTandardsBLL,IBLL" mapTo="BLL.CompensationTandardsBLL,BLL" name="CompensationTandardsBLL"></register>
        <register type="IBLL.ICompensationProgramBLL,IBLL" mapTo="BLL.CompensationProgramBLL,BLL" name="CompensationProgramBLL"></register>
      <register type="IBLL.ICpsssBLL,IBLL" mapTo="BLL.CpsssBLL,BLL" name="CpsssBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>